.svg-modal { position: fixed; top: 50px; left: 50px; bottom: 50px; right: 50px; background-color: inherit; text-align: center; border: inherit; z-index: 2 }
svg { max-height: 100% }
.navbar.fixed-top { z-index: 1 }
